<div>
    <h2 id="page-heading">
        <span jhiTranslate="randomizePaginateElasticsearchApp.animal.home.title">Animals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-animal" [routerLink]="['/animal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="randomizePaginateElasticsearchApp.animal.home.createLabel">
            Create new Animal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'randomizePaginateElasticsearchApp.animal.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div *ngIf="animals" class="row p-5">
        <div class="col-4 p-3" *ngFor="let animal of animals">
            <div class="animal card">
                <button class="promoted" (click)="promoteAnimal(animal)">
                    <fa-icon *ngIf="animal.promoted" [icon]="['fas', 'star']" [styles]="{'color': 'gold'}"></fa-icon>
                    <fa-icon *ngIf="!animal.promoted" [icon]="['far', 'star']" [styles]="{'color': 'gold'}"></fa-icon>
                </button>
                <div class="card-body row justify-content-center align-items-center p-3">
                    <p class="animal-name col-12 row align-items-center justify-content-center">{{ animal.name | capitalize }}</p>
                    <p class="animal-score col-12 row align-items-center justify-content-center">
                        {{ animal.score | number:'':'fr-FR' }}
                    </p>
                    <hr class="col-6"/>
                    <div class="col-8 btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/animal', animal.id, 'view' ]"
                                class="col-4 btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/animal', animal.id, 'edit']"
                                class="col-4 btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'animal', { outlets: { popup: animal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="col-4 btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="animals && animals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
